/******************************************************/
/************** CSS FOR TAKE-ACTION.HTML **************/
/******************************************************/

.page-header-action {
  position: relative;
  min-height: 30%;
  padding-bottom: 20%;
  background-image: url("https://cdn.glitch.com/62c06dd2-cff0-4b25-aa2b-438d08cb2285%2Fprotest-min.jpeg?v=1594751780195");
  box-shadow: 0 3000px rgba(0, 0, 0, 0.4) inset;
  background-attachment: fixed;
}

#action-box {
  background-color: #f0ece3ff;
}

/******************************************************/
/***************** ACTION ITEM LIST *******************/
/******************************************************/

/* Flexbox container that holds all flex items */
.flex-container-action {
  display: flex;

  position: absolute;
  padding: 0.1em 0;
  align-items: center;

  left: 5%;
  right: 5%;

  margin: 2% 0%;
  width: 90%;

  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: start;
  /*border-style: dotted;*/ /*Uncomment to see the outline of the container*/
}

/* Left box under title; item in .flex-container */
.action-info-container {
  width: 100%;
  margin-right: 5%;
  margin-left: 0;
  margin-top: 0%;
  margin-bottom: 5%;
  padding: 35px;
  font-size: 16px;
  flex-grow: 2;
  padding-top: 0em;
  /*border-style: dotted;*/ /*Uncomment to see the outline of the container*/
}

/* Right box under title; item in .flex-container */
.action-list-container {
  width: 75%;
  padding: 35px;
  margin: 5%;
  flex-grow: 1;
  background-color: #0d9c90;
  /*border-style: dotted;*/ /*Uncomment to see the outline of the container*/
}

/* Holds all elements related to the action item list; inside the action-list-container */
#checklist {
  background-color: white;
  border-radius: 15px;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 7px;
  padding-bottom: 25px;
  border-style: solid;
  border-color: #84a9acff;
  /*border-style: dotted;*/ /*Uncomment to see the outline of the container*/
}

/* Header in the list container */
#checklist-header {
  text-align: center;
  color: #0D38D3;
  letter-spacing: 0.3px;
  line-height: 0em;
  font: 10px;
  /*border-style: dotted;*/ /*Uncomment to see the outline of the container*/
}

/* Intructions inside the list container */
#instructions {
  font: 15px "Lato";
  text-align: center;
  color: #89BBBC;
  /*border-style: dotted;*/ /*Uncomment to see the outline of the container*/
}

/* The div container for the unordered action item list */
#my-list {
  padding: 8px 0 0 0;
  margin: 0;
  font-size: 12pt;
}

/* Styling for individual action list items */
#my-list li {
  cursor: pointer;
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-left: 35px;
  position: relative;
  list-style-type: none;
  transition: 0.2s;
  width: 85%;
  color: black;
  /*border-style: dotted;*/ /*Uncomment to see the outline of the container*/
}

/* Styling for the check squares added at the beginning of each list item */
#my-list li::before {
  content: "";
  position: absolute;
  border-color: #84a9acff;
  border-style: solid;
  border-width: 2px;

  top: 15px;
  left: 13px;
  height: 10px;
  width: 10px;
}
/* 
A note on the checkbox: This is actually just a neat trick. Before the 
item is clicked, the CSS file inserts a blank space through the content: "";
property. You can draw a border around this blank space so it appears like 
a box. After the item is clicked, new CSS rules are applied that remove the 
border from two sides and rotate the blank space by 45 degress so it looks 
like a checkmark!
*/

/* Change background color when cursor hovers over list items */
#my-list li:hover {
  background: #f3f3f3;
  color: #0B9699;
}

/* Change check square color when cursor hovers over */
#my-list li:hover::before {
  border-color: #0B9699;
  border-style: solid;
}

/* When marked complete (i.e. clicked on) add strikethrough */
#my-list li.all-done {
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
#my-list li.all-done::before {
  content: "";
  position: absolute;
  border-color: #A3DF6E;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 5px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/******************************************************/
/** CHANGE TAKE-ACTION.HTML CSS BASED ON SCREEN SIZE **/
/******************************************************/

/* IF THE SCREEN IS ~~700 OR LESS~~ IMPLEMENT THESE RULES */

@media only screen and (max-width: 700px) {
  .flex-container-action {
    flex-wrap: wrap;
  }
}

/* IF THE SCREEN IS ~~701 OR MORE~~ IMPLEMENT THESE RULES */

@media only screen and (min-width: 701px) {
  .flex-container-action {
    flex-wrap: wrap;
  }

  .left-container {
    width: 50%;
    margin-right: 10%;
  }
}

/* IF THE SCREEN IS ~~1000 OR MORE~~ IMPLEMENT THESE RULES */
@media only screen and (min-width: 1000px) {
  .flex-container-action {
    flex-wrap: nowrap;
  }
}

/* IF THE SCREEN IS ~~1250 OR MORE~~ IMPLEMENT THESE RULES */
@media only screen and (min-width: 1250px) {
  .flex-container-action {
    flex-wrap: nowrap;
  }

  #list-container {
    background-color: white;
    border-radius: 15px;
    padding: 20px 20px 40px 40px;
  }

  .left-container {
    width: 50%;
    margin-right: 10%;
  }
}

/* Social Media Icons*/
.fa {
  padding: 12px;
  font-size: 30px;
  width: 17px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: linear-gradient(to bottom left, #C71985, #F71728, #F7D217);
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}